@using CacheSimulator.Entities
<h3>Results</h3>

<div class="mt-2 row">
    <div class="col">
        <h5>Selected configuration</h5>
        <div>
            <label>Number of blocks:</label> @Cache.Blocks.Length
        </div>
        <div>
            <label>Block size:</label> @Cache.BlockSize
        </div>
        <div>
            <label>Total cache size:</label> @Cache.Blocks.Length
        </div>
    </div>

    <div class="col">
        <div>
            Miss %:
        </div>
        <div>
            Hit %:
        </div>
    </div>
</div>

@code {
    [Parameter]
    public novo.Cache Cache { get; set; } // n sei se vai dar pra manter os dados da config visto que foi removido de uso.
}
